
@use 'variables'    
*
    padding: 0
    margin: 0
    font-family: variables.$font-stack
    box-sizing: border-box

body
    background: variables.$body-bg-color
    color: variables.$text-color
    margin: 0 auto
    max-width: 1471px


a, svg
    transition: .4s

li
    list-style: none